Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
compile
autom4te.cache/
src/.deps/*
src/Makefile
src/Makefile.in
src/auto-config.h
src/auto-config.h.in
src/.libs/
src/*.lo
src/*.o
src/*.la
